@model GameStore.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center py-5 display-3 fw-bold">Профіль</h2>
@{
    string userFullName = Model.LastName + " " + Model.FirstName + " " + Model.MiddleName;
    <div class="container row m-0 p-0">
        <div class="col-md-4">
            <h3 class="text-center">Дані профілю</h3>
            <a class="btn btn-dark m-0 p-2 w-100 mb-3" href="/Account/EditUser">Редагувати</a>
            <p>Логін: @Model.Login</p>
            <p>П.І.Б.: @userFullName</p>
            <p>E-mail: @Model.Email</p>
            <p>Телефон: @Model.Phone</p>
        </div>
        <div class="col-md-8">
            <h3 class="text-center">Адреси користувача</h3>
            <p class="btn btn-dark m-0 p-2 w-100 mb-3 create-address">Додати нову адресу</p>
            <div class="row addresses-palce">
                @foreach (var el in Model.UserAddresses)
                {
                    <div class="border mx-2 p-2 light-gray-background black-border rounded address-row" style="min-width: 100px; height: fit-content; width: fit-content; display: inline">
                        <p class="m-0 address-name">@el.Address</p>
                        <p class="btn btn-danger m-0 p-0 w-100" delete ="@el.Id">Видалити</p>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div class="accordion my-5" id="orderAcrodion">
    <h3 class="text-center mb-3">Історія покупок</h3>
    @{
        int indexOfOrder = 1;
        foreach (var item in Model.Orders)
        {
            double orderSum = Math.Round(item.OrderProducts.Sum(el => el.Product.Price * el.Count), 2);
            string elementId = "collapse" + item.Id.ToString();
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button row m-0 collapsed" aria-expanded="false" type="button" data-bs-toggle="collapse" data-bs-target="#@elementId">
                        <p class="col-4">Замовлення №@indexOfOrder.</p><p class="col-3">@orderSum грн.</p><p class="col-3">@item.Date.ToShortDateString()</p>
                    </button>
                </h2>
                <div id="@elementId" class="accordion-collapse collapse" data-bs-parent="#orderAcrodion">
                    <div class="accordion-body">
                        <div class="row">
                            <h5 class="col-md-6">Отримувач: @item.FullName</h5>
                            <h5 class="col-md-6">Ареса: @item.Address</h5>
                        </div>
                        <h5>Товари: </h5>
                        <ul class="m-0 p-0">
                            @{
                                List<GameStore.Models.Cart> cartList = (List<GameStore.Models.Cart>)ViewBag.Carts;

                                foreach (GameStore.Models.OrderProduct el in item.OrderProducts)
                                {
                                    double productSum = Math.Round(el.Product.Price * el.Count, 2);
                                    <li class="row border-bottom my-3">
                                        <a class="col-md-8 undecorited_link" href="/Shop/Buy/@el.ProductId">@el.Product.Name</a>
                                        <p class="col-md-1 m-0">@el.Count шт.</p>
                                        <p class="col-md-3 m-0">@productSum грн.</p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            indexOfOrder++;
        }
    }
</div>

@section scripts {
    <script src="~/Scripts/page_scripts/ajax_helpers.js"></script>
    <script src="~/Scripts/page_scripts/massage_view.js"></script>
    <script src="~/Scripts/page_scripts/dynamic_adress_create.js"></script>
    <script src="~/Scripts/page_scripts/profile_events.js"></script>
}