@model GameStore.Models.Product
@using GameStore.Controllers.Functions.Data;
@{
    ViewBag.Title = "Придбати";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-4">
        @{
            string url = HttpContext.Current.Request.UrlReferrer.LocalPath;
            System.Diagnostics.Debug.WriteLine(url);
            string newUrl = (url != "/Shop/Index" && url != "/Shop") ? "/Shop/Index" : @HttpContext.Current.Request.UrlReferrer.PathAndQuery;
            <a class="btn btn-dark p-3 return-url-text" href="@newUrl">Повернутись до товарів</a>

        }
    </div>
    <div class="card mb-4">
        <div class="container-fliud">
            <div class="wrapper flex-column">
                <div class="wrapper row">
                    <div class="preview col-lg-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img class="good-img" src="@JSImageByteConverter.FromBase64ToImageString(Model.MainPhoto)" alt="..." />
                            </div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs px-2">
                            @{
                                foreach (GameStore.Models.ProductImage item in Model.ProductImages)
                                {
                                    <li class="active">
                                        <a data-target="#pic-1" data-toggle="tab">
                                            <img class="detal_info_scroll_item" src="@JSImageByteConverter.FromBase64ToImageString(item.Url)" />
                                        </a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                    <div class="details col-lg-6">
                        <h3 class="good-name text-center product-title">@Model.Name</h3>
                        <p class="price text-center py-3 h5 fw-normal">Кількість товару на складі:<b> @Model.Count</b></p>
                        <hr />
                        <h4 class="price text-center">Відомості</h4>
                        <p class="product-description">@Model.Title</p>
                        <div class="wrapper row">
                            <div class="action col-md-6 text-center">
                                @if (Model.Count != 0)
                                {
                                    <button class="btn btn-dark py-3 px-5" type="button" product="@Model.Id">В корзину</button>
                                }
                                else
                                {
                                    <button class="btn btn-dark py-3 px-5 no-product-for-cart btn" type="button">Відсутній</button>
                                }

                            </div>
                            <h4 class="price col-md-6 text-center m-0 my-auto">Ціна: @Model.Price ₴</h4>
                        </div>
                    </div>
                </div>
                <hr />
                <h3 class="product-title mt-3 text-center">Опис </h3>
                <h5 class="product-description px-5 py-3 fw-normal" style="text-align:justify">@Model.Description</h5>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/page_scripts/ajax_helpers.js"></script>
    <script src="~/Scripts/page_scripts/massage_view.js"></script>
    <script src="~/Scripts/page_scripts/dynamic_cart.js"></script>
}
