@model PagedList.IPagedList<GameStore.Models.Product>
@using PagedList.Mvc;
@using GameStore.Controllers.Functions.Data;
@using GameStore.Controllers.Functions.HtmlSettings;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Товари";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center py-5 display-3 fw-bold">Товари</h2>
<div class="container my-3">
    <div class="accordion"  id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="d-block text-center accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h4 class="text-center">Налаштування пошуку</h4>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <section class="py-3 black-border light-gray-background">
                    @using (Html.BeginForm("Index", "Shop"))
                    {
                        <div class="container">
                            <div class="container-fluid wraped flex-column">
                                <div class="wrapper row">
                                    <div class="col-md-8 my-3 filter-right-border" >
                                        <h3 class="text-center">Фільтри:</h3>
                                        <div class="wraped row justify-content-sm-center">
                                            <div class="text-center col-md-6 flex-column">
                                                <p class="fw-bold mb-0">За назвою:</p>
                                                <div class="row px-5 pt-3">@Html.TextBox("Name", ViewBag.NameSearch as string, new {@class = "form-control"})</div>
                                            </div>

                                            <div class="text-center col-md-6 flex-column">
                                                <p class="fw-bold mb-0">За категорією:</p>
                                                <div class="row px-5 pt-3">@Html.DropDownList("Category", ViewBag.CategoriesFilter as IEnumerable<SelectListItem>, new { @class = "form-select" })</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-3">
                                        <h3 class="text-center">Сортування:</h3>
                                        <div class="wraped row justify-content-sm-center">
                                            <div class="text-center flex-column justify-content-center col-12">
                                                <p class="fw-bold mb-0"> Сортувати:</p>
                                                <div class="row px-5 pt-3">@Html.DropDownList("Sort", ViewBag.SortFilter as IEnumerable<SelectListItem>, new { @class = "form-select" })</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wraped text-center row">
                                    <input class="btn btn-dark mt-2" type="submit" value="Знайти" />
                                </div>
                            </div>
                        </div>
                        <input type="checkbox" name="filtering" class="unvisible_checkbox" value="1" checked />
                    }
                </section>
            </div>
        </div>
    </div>
</div>

<hr />

@if (Model.Count == 0)
{
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="text-center">Товари не знайено!</h1>
    </div>
}

<section class="py-3">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-left">
            @{
                string off = "product-not-available";
                foreach (GameStore.Models.Product item in Model)
                {
                    <div class="col mb-5" div-href="/Shop/Buy/@item.Id">
                        <div class="card h-100 @if (item.Count == 0) { @off } ">
                            <img class="good_card card-img-top good-img" src="@JSImageByteConverter.FromBase64ToImageString(item.MainPhoto)" alt="...">
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <h6 class="fw-bolder good-name">@item.Name</h6>
                                    <a class="m-0 undecorited_link">@reduceString(item.Title)</a>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row row-cols-md-2">
                                <div class="text-center p-0">
                                    @{
                                        if (item.Count != 0)
                                        {
                                            <p class="m-0 btn btn-outline-dark mt-auto" href="" product="@item.Id">В корзину</p>
                                        }
                                        else
                                        {
                                            <p class="m-0 btn btn-outline-dark mt-auto" href="">Відсутній</p>
                                        }
                                    }
                                </div>
                                <div class="text-center m-0 my-auto"><p class="m-0 ">@item.Price ₴</p></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page, name = ViewBag.NameSearch, category = ViewBag.CoosedCategory, Sort = ViewBag.Sort }),
    PaginationCustomOption.ShowOnlySomePages(5, "Початок", "Кінець", "Попередня", "Наступна"))

@section scripts {
    <script src="~/Scripts/page_scripts/ajax_helpers.js"></script>
    <script src="~/Scripts/page_scripts/massage_view.js"></script>
    <script src="~/Scripts/page_scripts/sizeListener.js"></script>
    <script src="~/Scripts/page_scripts/start_block_events.js"></script>
    <script src="~/Scripts/page_scripts/dynamic_cart.js"></script>
}

@{
    string reduceString(string str)
    {
        return (str.Length > 70) ? str.Substring(0, 67).Trim() + "..." : str;
    }
}
