@model IEnumerable<GameStore.Models.Cart>
@using GameStore.Controllers.Functions.Data;
@using GameStore.Controllers.Functions.HtmlSettings;

@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center py-5 display-3 fw-bold">Корзина</h2>

@if (Model.Count() == 0)
{
    <h1 class="text-center py-5 display-3 fw-bold">Корзина пуста!</h1>
}

<section class="pb-3 ">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-left">
            @{
                string off = "product-not-available";
                foreach (GameStore.Models.Cart item in Model)
                {
                    double productPrice = Math.Round(item.Product.Price * item.Count, 2);
                    bool productCountFlag = item.Product.Count < item.Count;

                    <div class="col mb-5 product-element">
                        <div class="card h-100 @if (productCountFlag) { @off } ">
                            <img class="good_card card-img-top good-img" src="@JSImageByteConverter.FromBase64ToImageString(item.Product.MainPhoto)" alt="...">
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <h6 class="fw-bolder good-name">@item.Product.Name</h6>
                                    <h6 class="fw-bolder">В корзині (шт.): @item.Count</h6>
                                    <h6 class="fw-bolder">На складі (шт.): @item.Product.Count</h6>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row row-cols-md-2">
                                <div class="text-center p-0">
                                    <p class="m-0 btn btn-outline-dark mt-auto" href="" delete="@item.Product.Id">Видалити</p>
                                </div>
                                <div class="text-center m-0 my-auto"><p class="m-0 product_price">@productPrice ₴</p></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@{
    double sum = Math.Round(Model.Sum(el => el.Product.Price * el.Count), 2);
}
@if (Model.Count() != 0)
{
    <hr />
    <div class="conteiner flex-column text-center pb-4">
        <h2>Сума до сплати: <span id="sumSpan">@sum</span> грн.</h2>
        <a class="btn btn-outline-dark fw-bold p-3" href="/Orders/Create">Оформити замовлення</a>
        <h6>(Товари, яких не вистачає, не будуть доадні до замовлення)</h6>
    </div>
}
@section scripts {
    <script src="~/Scripts/page_scripts/ajax_helpers.js"></script>
    <script src="~/Scripts/page_scripts/massage_view.js"></script>
    <script src="~/Scripts/page_scripts/cart_events.js"></script>
}